.list-filters {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.list-filters .list-filter  {
  text-decoration: none !important;
  margin-right: 15px;
  border: 1px solid #777;
  padding: 5px 10px;
  cursor: pointer;
  display: inline-block;
}

.list-filters .list-filter.filter-selected,
.list-filters .list-filter:hover {
  color: #fff;
  background: #444;
}

@media only screen and (max-width: 550px) {
  .list-filters .list-filter {
    font-size: 16px;
    margin-right: 0;
    margin-bottom: -1px;
    display: block;
  }
}

