---
layout: page
title: Study
subtitle: Something that I have studied and experienced
bigimg: 
  - "/img/Image/BigImages/stanford_dish.jpg" : "Stanford Dish, CA (2016)"
---

<!-- this code from https://github.com/codinfox/codinfox-lanyon/blob/dev/blog/tags.html-->
<!-- class="later on" means I will design again -->
<!-- class="later on" is changed while seeing my github page of index.html--> 
<div class="lateron">
  <div class="lateron">
    {% assign tags = site.tags | sort %}
    {% for tag in tags %}
      <a href="#{{ tag[0] | slugify }}" class="btn btn-default" style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
        <span class="fa fa-tag left">
          {{ tag[0] }} {{ tag | last | size }}
        </span>
      </a>
    {% endfor %}
  </div>
  <hr/>
  <div class="lateron">
    {% for tag in tags %}
    <h2 id="{{ tag[0] | slugify }}"> {{ tag[0] }}  {{ tag | last | size }}</h2>
    <ul class="lateron">
      {% for post in tag[1] %}
        <!-- I think I have to find css of class ou, first of all, I use post-title-->
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }} 
      <!-- <p class="post-meta"></p> in index.thml -->  
      <small class="post-meta"> - Posted on {{ post.date | date: "%B %-d, %Y" }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
    <a href="" class="btn btn-default">
      <span class="fa fa-refresh"></span> Go Back to the front
    </a>  
    <hr/>
    {% endfor %}
  </div>
</div>
