---
layout: page
title: Study
subtitle: Something that I have studied and experienced
css: "/css/cloudoftags.css"
bigimg: 
  - "/img/Image/BigImages/stanford_dish.jpg" : "Stanford Dish, CA (2016)"
---

<!-- this code from https://github.com/codinfox/codinfox-lanyon/blob/dev/blog/tags.html-->
<!-- class="later on" means I will design again -->
<!-- class="later on" is changed while seeing my github page of index.html--> 
<div class="later_on">
  <div class="later_on">
    {% for tag in site.tags %} <!-- If you want to jump to a list related to tags of what you choose, you need #(letter)-->
    <span class="tag tag-primary">
    <a href="#{{ tag[0] | slugify }}" class="later_on" style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">{{ tag[0] }} ({{ tag | last | size }})</a>
    </span>
    {% endfor %}
  </div>
  <hr/>
  <div class="later_on">
    {% for tag in site.tags %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag | first }} ({{ tag | last | size }})</h2>
    <ul class="later_on">
      {% for post in tag[1] %}
        <!-- I think I have to find css of class ou, first of all, I use post-title-->
        <a class="post-tile" href="{{ site.baseurl }}{{ post.url }}">
      <li>
        {{ post.title }}
      <!-- <p class="post-meta"></p> in index.thml -->  
      <small class="post-meta"> - Posted on {{ post.date | date: "%B %-d, %Y" }}</small>
      </li>
      </a>
      {% endfor %}
    </ul>
    {% endfor %}
  </div>
</div>
