---
layout: page
title: "by Tag Cloud"
---

<!--
{% assign tags = site.categories | sort %}
{% assign baseurl = include.baseurl %}
{% assign increaseFont = include.tagCloud %}


<div id="blog-index" class="row columns">
{% for tag in tags %}

<h3 class="archivetitle"><a name="{{ tag | first | slugify }}"></a>{{ tag | first | replace:'-', ' ' }} <i class="badge">{{ tag | last | size }}</i> </h3>

<ul class="side-nav">

{% for post in sorted_posts %}
    {%if post.categories contains tag[0]%}
<li>
    <a title="Read {{ post.title | escape_once }}" href="{{ site.baseurl  }}{{ post.url }}"> <strong>{{ post.title }}</strong>{% if post.date %}<small> - {{ post.date | date: "%B %e, %Y" }}</small>{% endif %}</a>
</li>
    {%endif%}

{% endfor %}
</ul>

<small markdown="1">[back to top](#top)</small>

{% endfor %}
</div>
-->
<!--
{% assign tags = site.tags | sort %}
{% for tag in tags %}
 <span class="site-tag">
    <a href="/tag/{{ tag | first | slugify }}/"
        style="font-size: {{ tag | last | size  |  times: 4 | divided_by: site.tags.size | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>
</span>
{% endfor %}
-->
{% for category in site.tags %}
    <li style="font-size: {{ category | last | size | times: 100 | divided_by: site.tags.size | plus: 70 }}%">
        <a href="/{{ category | first | slugize }}/">
            {{ category | first }}
        </a>
    </li>
{% endfor %}
