<h1>{{ site.title }}</h1>
<ol class="timeline">
	{% for post in site.posts %}
		<li class="tl-node">
			<div class="tl-stamp">{{ post.date | date_to_string }}</div>
			{% if site.linked_posts %}
				<div class="tl-content"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></div>
			{% else %}
				<div class="tl-content">{{ post.title }}</div>
			{% endif %}
			{{ post.content }}
		</li>
	{% endfor %}
</ol>

<!-- this code is from https://github.com/himedlooff/project-timeline/edit/gh-pages/index.html -->
