<!-- <!DOCTYPE html> -->

<!--
<head>
  <title>Hyunyoung Lee</title>
  <meta charset="utf-8">
  <link href="main.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Gudea">
  <link rel="shortcut icon" href="http://faviconist.com/icons/f9294cc2281f1004e846adbea5f4b316/favicon.ico" />
</head>
-->

<body>
  <header class="header-details">
    <h1 class="name">Hyunyoung Lee | </h1>
      <article class="links-container">
        <a class="links" href="https://github.com/hyunyoung2" target="_blank"><img src="/img/Image/Resume/gh_icon.png" alt="github icon" width="21" height="21">GitHub</a>
        <a class="links" href="https://www.linkedin.com/in/hyunyoung2/" target="_blank"><img src="/img/Image/Resume/in_icon.png" alt="linkedin icon" width="18" height="18">LinkedIn</a>
      </article><br>
      <article class="contact-information">
        <p class="contact-deets">Seoul, South Korea | </p>
        <a class="links" href="https://hyunyoung2.github.io">hyunyoung2's website | </a>
        <!--<p class="contact-deets">hyunyoung2.github.io | </p>-->
        <!--<p class="contact-deets">ph: 505.660.9495 | </p>-->
        <a class="links" href="mailto:hyun02.job@gmail.com">e: hyun02.job@gmail.com</a>
      </article>
  </header>
  
  <section class="content">
    
    <!-- Summary -->
    <h2 class="category-headers">Summary</h2><hr>
      <p class="category-description-main">I've always tried to take an effort to improve my software skill. Apart from education at university, I got experience a variety of software development. developing at Natural Language Processing Lab, SAMSUNG SOFTWARE MEMBERSHIP and then I developed a new technology of SSD like NVMe and LightNVM and so on. Currently, I'm looking for job that I can work for thechnology that I can have interest in.</p>
    
    <!-- Open-Source contribute -->
    <h2 class="category-headers">Open-source contribution</h2><hr>
    <p class="category-description-main"></p>
      <ul class="category-description" style="margin-left: 1px">
        <li><a class="links" href="https://github.com/OpenChannelSSD/linux">OpenChannelSSD/linux</a> : <a class="links" href="https://github.com/OpenChannelSSD/linux/issues/17" title="issues#17"><strong>Issues #17</strong> </a></li>
        <li><a class="links" href="https://github.com/chamdoo/bdbm_drv">chamdoo/bdbm_drv</a> : <a class="links" href="https://github.com/chamdoo/bdbm_drv/pull/1" title="pull_requests#1"><strong>Pull requests #1</strong>, </a> <a class="links" href="https://github.com/chamdoo/bdbm_drv/pull/2" title="pull_requests#2"><strong>Pull requests #2</strong> </a></li>
        <li><a class="links" href="https://github.com/facebook/rocksdb">facebook/rocksdb</a> : <a class="links" href="https://github.com/facebook/rocksdb/pull/1073" title="pull_requests#1073"><strong>Pull reqeuests #1073</strong> </a></li>
      </ul> 
  
      <!--
      <p class="primary-titles">Kansas City Art Institute | <span class="location">Kansas City, MO</span></p>
      <p class="category-details">BFA, Graphic Design<br>Dean's List 2004–2007<br>2007</p>
      -->
    <!--
    <h2 class="category-headers">Code</h2><hr>
      <a class="primary-titles" href="http://github.com/LouisaBarrett/SocialSmarts" target="_blank">Social Smarts | <p class="links">github.com/LouisaBarrett/SocialSmarts</p></a>
      <p class="category-description">As part of a five-person team and using the Twitter and Klout APIs, created a social media management app that allows a user to process incoming tweets based on various criteria. Primary role was designing and building the front-end from scratch, emphasizing a straightforward and simple experience for the user</p>
      <a class="primary-titles" href="https://github.com/LouisaBarrett/fundit" target="_blank">FundIt | <p class="links">github.com/LouisaBarrett/fundit</p></a>
      <p class="category-description">A small, solo project creating a fund-raising site built to practice using Ruby, Rails and RSpec.</p>
      <a class="primary-titles" href="https://github.com/LouisaBarrett/checkers" target="_blank">Checker Board | <p class="links">github.com/LouisaBarrett/checkers</p></a>
      <p class="category-description">Practicing Ruby fundamentals by building a game-board for a game of checkers.</p>
      <a class="primary-titles" href="https://github.com/LouisaBarrett/command-query_practice" target="_blank">Command Query | <p class="links">github.com/LouisaBarrett/command-query_practice</p></a>
      <p class="category-description">Solutions to a series of kata-like tests practicing how objects change in Ruby</p>
      <a class="primary-titles" href="https://github.com/LouisaBarrett/resume" target="_blank">Résumé | <p class="links">github.com/LouisaBarrett/resume</p></a>
      <p class="category-description">Take a look under the hood of this page on GitHub (or see the PDF print version <a class="links" href="http://f.cl.ly/items/2D2S2u0L0Z2B3x0o3X1Y/LouisaBarrett_resume.pdf" target="_blank">here</a>). Constructive feedback is always welcome and appreciated.</p>
    -->
  
    <!-- Professianl Experience -->
    <h2 class="category-headers">Development Experience</h2><hr>
      <!-- SK hyinx memory Solutions inc. Item 6-->
      <p class="primary-titles">SK Hynix memory solutions | <span class="location">San Jose, CA |</span> <span class="location" style="text-align: right">2016.02 --- 2017.01</span></p>
        <p class="category-details" style="margin-left: 0px">Software Engineer(Intership)</p>
        <ul class="category-description" style="margin-left: 0px">
          <li>worked in Advanced storage team for NVMe protocol and SSD’s new technology.</li>
          <li>carried out “Robusta” project which transfers features of SSD from firmware to Linux Host, based on NVMe protocol. The features of hardware is Translation Map, wear-leveling, Garbage Collection.</li>
          <li>tested and researched rrpc(Round-Robin page-based hybrid FTL) and pblk(physical block device) of LightNVM on QEMU-NVMe(hypervisor) with FIO.</li>
          <li>tested and researched Application-Managed FTL and Device-mapper with FIO, I also investigated about Multi-Queue layer on Linux.</li>
          <li>tested SSD(DumbSSD) for Robusta with NVMe-cli Open Source tool, changing the OpenSource tool.</li>
          <li>investigated and researched F2FS which is friendly filesystem of SSD and RocksDB for Robusta.</li>
          <li>tested and verified all flash array system for performance of NVMe device on LINUX with CPU-affinity, CPU-isolation and IRQ handler. the all flash array system is storage that all consists of SSD.</li>
          <li>have verified performance of filesystem on SSD with FIO, filebench tool and postmark tool, tuning NVMe-cli to get a WAF, file systems that I verified are F2FS, ALFS, ext4.(GitHub for this test)<https://github.com/hyunyoung2/fs_test_tools.git></li>
        </ul>
  
      <!-- SAMSUNG SOFTWARE MEMBERSHIP Item 5-->
      <p class="primary-titles">SAMSUNG SOFTWARE MEMBERSHIP | <span class="location">Seoul, South Korea |</span> <span class="location" style="text-align: right">2014.01 --- 2015.06</span></p>  
        <p class="category-details" style="margin-left: 0px">Software Engineer</p>
        <ul class="category-description" style="margin-left: 0px">
          <li>worked as software engineer in this group that Samsung Electronics supports, this group consists of undergraduates from a variety of Universities.</li>
          <li>developed windows(UI), Server(database) and a dish-recognition algorithm of the application,<a class="links" href="https://hyunyoung2.github.io/projects/"> “Smart Refrigerator tell the location of the dish to a person who is visually impaired”</a>, with Samsung Electronics' Home Appliances Business Department for designing new IOT product, using C#(Windows), Emgu CV, MySQL, Open Source(Clipper).</li>
          <li>developed windows(UI), USB communication module and graphic card’s algorithm to adjust monitor's brightness, contrast and gamma of Windows application,<a class="links" href="https://hyunyoung2.github.io/projects/"> “Monitor Calibration using smart phone device”</a>, using C#(windows), Java(Android).</li>
          <li>developed algorithm of battery-efficiency and tested the performance of project,<a class="links" href="https://hyunyoung2.github.io/projects/"> “Customizing Governor in big.LITTLE Architecture”</a>, in order to improve efficiency of smart phone’s battery using C/C++(Linux), Java(Android).</li>
          <li>developed a sever of application,<a class="links" href="https://hyunyoung2.github.io/projects/"> ”User Customizing the English wrong note ”</a>, using Apache, PHP, MySQL, JavaScript, HTML, CSS, Java(Android).</li>
          <li>developed algorithm of Lego Mindstorms for Leg robot’s war.</li>
          <li>taught about “ the basic algorithm &#38; data structure”, to co-work.</li>
          <li>worked as advisor about project especially involved natural language processing(nlp) and Linux when co-work started such a project.</li>
          <li>learned about communication skill, ability of planning, Leadership, while I organized team and planned to do project as leader or member of team.</li>
        </ul>
    
      <!-- Natural Language processing labs Item 4-->
      <p class="primary-titles">Natural Language Processing Labs in Kookmin University | <span class="location">Seoul, South Korea |</span> <span class="location" style="text-align: right">2013.04 --- 2014.12</span></p>  
        <p class="category-details" style="margin-left: 0px">Internship(undergraduate research assistant)</p>
        <ul class="category-description" style="margin-left: 0px">
          <li>wrote the paper, “Plagiarism Detected Source Retrieval and Text Alignment” that posted in National Assembly Library Journal and presented in 26th Annual Conference on Human and Cognitive Language Technology(HCLT-2014).</li>
          <li>developed UI and algorithm of project, “Plagiarism Detected Source Retrieval and Text Alignment” using Python.</li>
          <li>developed and designed the Knowledge-Base of Automatic Scoring of Korean Short(Clause &#38; Phrase) Answer using MySQL, C/C++.</li>
          <li>developed a PDF document filter using C/C++.</li>
          <li>carried out project, “CopyCheck : A Two-step Approach to Plagiarism Detection”, using C/C++.</li>
          <li>learned natural language processing and information Search skills, trained in coding and writing.</li>
        </ul>
    
      <!-- IT Volunteer Item 3-->
      <p class="primary-titles">Korea IT Volunteers | <span class="location">Phrae, Thailand | </span> <span class="location" style="text-align: right">2012.07 --- 2012.08</span></p>  
        <p class="category-details" style="margin-left: 0px">Volunteer &#38; Teacher</p>
        <ul class="category-description" style="margin-left: 0px">
          <li>volunteered in RongFong ICT Center at the Phrae, Thailand for teaching IT &#38; Korea's culture to Thais, RongFong Villagers &#38; NAMCHANG Elementary School's students.</li>
          <li>learned communication skill with foreigners who can't speak English at all while working and teaching.</li>
          <li>learned problem-solving ability while resolving unexpected problems in this volunteers.</li>
          <li>Korea IT Volunteers is hosted in NIA(NATIONAL INFORMATION SOCIETY AGENCY) &#38; ITU(International Telecommunication Union).</li>
        </ul>
    
      <!-- Term project at Kookmin University Item 2-->
      <p class="primary-titles">Kookmin university | <span class="location">Seoul, South Korea | </span> <span class="location" style="text-align: right">2008.03 --- 2016.08</span></p>  
        <p class="category-details" style="margin-left: 0px">Student</p>
        <ul class="category-description" style="margin-left: 0px">
          <li>developed term project, “Visualizing Bigdata”, using sigma library in Javascript.</li>
          <li>carried out term project of encryption &#38; decryption using AES algorithm and analysis of packet using the Wireshark.</li>
          <li>developed term project, “Mini-C compiler using Lex”, Yacc, C.</li>
          <li>carried out term project, “Robot cleaner algorithm with Backtracking” using C.</li>
          <li>developed term project, “Cover flow” using openGL.</li>
        </ul>
    
    <!-- Education -->
    <h2 class="category-headers">Education</h2><hr>
      <!-- Bachelor, first Education-->
      <p class="primary-titles">Kookmin University | <span class="location">Seoul, South Korea | </span> <span class="location" style="text-align: right">2008.03 --- 2016.08</span></p>
      <p class="category-details" style="margin-left: 0px">Bachelor of Science in Engineering at Computer Science<br>GPA - 3.69 / 4.5, CS GPA - 3.7 / 4.5, 90.6 % cumulative average<br></p>
      <ul class="category-description" style="margin-left: 0px">
        <li>developed my Git-Hub pages, static website, using Jekyll, html, css, git.</li>
        <li>won scholarship eight times.</li>
        <li>won the 3rd Award in the ACM-ICPC of Kookmin University</li>
        <li>studied a range of the basic Computer Science and finished more than 7 term projects.</li>
      </ul>
    
    <!-- MILITARY SERVICE -->
    <h2 class="category-headers">MILITARY SERVICE</h2><hr>
      <!-- ARMY Item 1-->
      <p class="primary-titles">Republic of Korea Army(Military Service) | <span class="location">Dongducheon,  Gyeonggi Province, South Korea | </span> <span class="location" style="text-align: right">2009.03 --- 2011.01</span></p>  
        <p class="category-details" style="margin-left: 0px">Soldier at HR & Financial</p>
        <ul class="category-description" style="margin-left: 0px">
          <li>worked on things related to Accounting and HR Service as a personnel & accounting clerks in Army's Human Resources.</li>
          <li>wrote and arranged lots of documents using MS office and Hancom tool.</li>
          <li>prepared mobilization training as director leading lots of soldier.</li>
          <li>worked on thing related to military law.</li>
          <li>learned documentation skill using a variety of tools, leadership and accounting & HR tasks.</li>
        </ul>
    
    <!-- LEADERSHIP & ACTIVITIES -->
    <h2 class="category-headers">LEADERSHIP & ACTIVITIES</h2><hr>
    <p class="category-description-main"></p>
      <!-- LEADERSHIP&ACTIVITIES 1-->     
      <ul class="category-description" style="margin-left: 1px">
        <li>studying and debating technology as member & president of academic clubs “Kangbuk Hardware Union(강북하드웨어연합)”,  “AIR(Algorithm in Romance) “, “ Menux” , “ C+R” in SAMSUNG SOFTWARE MEMBERSHIP.</li>
        <li>Completed Start-up Education of campus CEO business jump-up camp.</li>
        <li>Worked as part-time job about directing an event like launching party of company’s product in MOON & CHOI at Seoul, South Korea.</li>
      </ul>
    
    <!-- Paper  -->
    <h2 class="category-headers">PAPERS</h2><hr>
      <p class="primary-titles">JOURNAL</p>
        <ul class="category-details">
          <li><strong>Hyun Young Lee</strong>, Yu Jin Kang and Seung Shik Kang, <a href="http://dl.nanet.go.kr/SearchDetailView.do" title="publishment of National Assembly Library">“Plagiarism Detected Source Retrieval and Text Alignment”</a>, publication in National Assembly Library Journal, 2015.</li>
        </ul>
    
      <p class="primary-titles">CONFERENCE PRESENTATIONS</p>
        <ul class="category-details">
           <li><strong>Hyun Young Lee</strong>, Seung Cheol Jeon, Yu Jin Kang, Seung Hwan Kim, Are Mi Lee, Seung Shik Kang, <a href="http://ocean.kisti.re.kr/IS_mvpopo213L.do?ResultTotalCNT=52&pageNo=3&pageSize=10&method=view&acnCn1=&poid=sighlt&kojic=OOGHAK&sVnc=y2014m10a&id=1&setId=&iTableId=&iDocId=&sFree=&pQuery=%28kojic%3AOOGHAK%29+AND+%28voliss_ctrl_no%3Ay2014m10a%29" title="paper of 
Annual Conference on Human and Language Technology">“Plagiarism Detected Source Retrieval and Text Alignment”</a> Accepted in The 26th Annual Conference on Human and Cognitive Language Technology(HCLT-2014), 2014.</li>
        </ul>
    
    <!-- AWARDS & HONORS  -->
    <h2 class="category-headers">AWARDS & HONORS</h2><hr>
    <p class="category-description-main"></p>
      <ul class="category-description" style="margin-left: 2px">
        <li>Encouragement Prize(The Electronic Times CEO Prize), The 27Th Global Software Contest | <span class="location">Seoul, South Korea | </span> <span class="location" style="text-align: right">2015.12.16</span></li>
        <li>The Third Award, 2015 ACM-ICPC Asia-Daejeon Korea National First Round in the Kookmin University | <span class="location">Seoul, South Korea | </span> <span class="location" style="text-align: right">2015.10.05</span></li>
        <li>The First Award(1st Award), IOT Competition supported by Samsung Electronics' Home Appliances Business Department | <span class="location">Suwon, Gyeonggi-do, South Korea | </span> <span class="location" style="text-align: right">2015.05.21</span></li>
        <li>Encouragement Prize, 2014 Engineering Education Festival | <span class="location">Seoul, South Korea | </span> <span class="location" style="text-align: right">2014.11.07</span></li>
        <li>The Best Paper Award, The 26th Annual Conference on Human and Cognitive Language Technology(HCLT-2014) | <span class="location">Gangwon-do, South Korea | </span> <span class="location" style="text-align: right">2014.10.10 ~ 2014.10.11</span></li>
        <li>Encouragement Prize, 2013 Engineering Education Festival | <span class="location">Seoul, South Korea | </span> <span class="location" style="text-align: right">2013.11.15</span></li>
        <li>Encouragement Prize, 2013 Korean Language Information Processing System Competition | <span class="location">Seoul, South Korea | </span> <span class="location" style="text-align: right">2013.10.11</span></li>
      </ul>
    
    <!-- TECH. SKILL  -->
    <h2 class="category-headers">TECH. SKILL</h2><hr>
    <p class="category-description-main"></p>
      <ul class="category-description" style="margin-left: 1px">
        <li>Programming: (Intermediate) C, C++ , C#, (Low) Shellscript, Python, PHP,  Java, JavaScript, perl, LISP.</li>
        <li>Development Tools: MS Visual Studio and Eclipse, Sublime Text, Vi editor.</li>
        <li>Embedded : (Intermediate)Raspberry Pi, ODROID-XU+E & A.</li>
        <li>Computer Graphics : (Intermediate)Window DC, (Low)OpenGL.</li>
        <li>Platform : (Intermediate) Windows, Linux(Ubuntu,Centos7), (Low) Android.</li>
        <li>Algorithm: (Intermediate) Basic Data Structure, Graph, Greedy, Searching(DFS, BFS), Sorting, Dynamic Programming, Tree.</li>
        <li>Natural Language processing(Intermediate).</li>
        <li>SSD : NVMe, QEMU-NVMe, OpenChannelSSD(LightNVM), FIO, NVMe-Cli, filebench tool.</li>
      </ul>
    
    
     <!--
      <p class="primary-titles">Hero Design Studio | <span class="location">Denver, CO</span></p>
        <p class="category-details">Contract Production Artist<br>Fall 2008</p>
      <p class="primary-titles">Archetype 5 | <span class="location">Boulder, CO</span></p>
        <p class="category-details">Graphic Designer<br>2007–2008</p>
      <p class="primary-titles">Workshop Design, Inc. | <span class="location">Kansas City, MO</span></p>
        <p class="category-details">Intern, print and environmental design<br>2006</p>
      -->
        
  </section>
</body>

